.content {
    max-width: 400px;
    margin: 0 auto !important;
    height: 100% !important;
}

ion-item {
    --background: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 16px;
  
    ion-input {
      padding: 8px;
    }
  }
  
  i {
    color: blue;
    text-decoration: underline;
    text-align: center;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .header {
    margin-top: 25%;
  
    .subTitle {
      color: grey;
    }
  }
  
  .form-error {
    margin-bottom: 8px;
    margin-left: 4px;
  }

  