<ion-content [fullscreen]="true">
  <div class="content">
  <div class="header ion-padding">
    <h2>Вітаємо знову!</h2>
    <p class="subTitle">Увійдіть в свій обліковий запис</p>
  </div>
  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      @if (loginForm.controls['email'].touched &&
      loginForm.controls['email'].invalid) {
      <div class="form-error">
        @if (errorControl['email']?.errors?.['required']) {
        <ion-text color="danger">Email обов'язковий</ion-text>
        } @if (errorControl['email']?.errors?.['pattern']) {
        <ion-text color="danger">Некоректний email</ion-text>
        }
      </div>
      }

      <ion-item>
        <ion-input
          formControlName="password"
          placeholder="password"
        ></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      @if (loginForm.controls['password'].touched &&
      loginForm.controls['password'].invalid) {
      <div class="form-error">
        @if (errorControl['password']?.errors?.['required']) {
        <ion-text color="danger">Email обов'язковий</ion-text>
        } @if (errorControl['password']?.errors?.['pattern']) {
        <ion-text color="danger"
          >Пароль повинен містити принаймні 8 цифр і містити: <br />
          - Маленькі літери<br />
          - Великі літери<br />
          - Спеціальний символ<br />
          - Цифра
        </ion-text>
        }
      </div>
      }
      <div class="center">
        <i [routerLink]="['/auth/reset']">Забули пароль?</i>
      </div>
      <div class="center">
        <p>Новий член? <i [routerLink]="['/auth/register']">Зареєструватися</i></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="signIn()" [disabled]="!loginForm.valid">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</div>
</ion-content>
