<ion-content [fullscreen]="true">
  <div class="header ion-padding">
    <h2>Welcome back!</h2>
    <p class="subTitle">Sign in to access your account</p>
  </div>
  <form [formGroup]="loginForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="email" placeholder="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      @if (loginForm.controls['email'].touched &&
      loginForm.controls['email'].invalid) {
      <div class="form-error">
        @if (errorControl['email']?.errors?.['required']) {
        <ion-text color="danger">Email is required</ion-text>
        } @if (errorControl['email']?.errors?.['pattern']) {
        <ion-text color="danger">it`s not correct email format</ion-text>
        }
      </div>
      }

      <ion-item>
        <ion-input
          formControlName="password"
          placeholder="password"
        ></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      @if (loginForm.controls['password'].touched &&
      loginForm.controls['password'].invalid) {
      <div class="form-error">
        @if (errorControl['password']?.errors?.['required']) {
        <ion-text color="danger">Email is required</ion-text>
        } @if (errorControl['password']?.errors?.['pattern']) {
        <ion-text color="danger"
          >Password should be at least 8 digits and contain: <br />
          - Lowercase letter<br />
          - Uppercase letter<br />
          - Special symbol<br />
          - Number
        </ion-text>
        }
      </div>
      }
      <div class="center">
        <i [routerLink]="['/auth/reset']">Forgot password?</i>
      </div>
      <div class="center">
        <p>New member? <i [routerLink]="['/auth/register']">Sign up</i></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="signIn()" [disabled]="!loginForm.valid">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
