<ion-content [fullscreen]="true">
  <div class="header ion-padding">
    <h2>Welcome!</h2>
    <p>Sign up to create your account</p>
  </div>
  <form [formGroup]="regForm" novalidate>
    <div class="ion-padding">
      <ion-item>
        <ion-input formControlName="fullname" placeholder="name"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>

      @if (regForm.controls['fullname'].touched &&
      regForm.controls['fullname'].invalid) {
      <div class="form-error">
        @if (errorControl['fullname']?.errors?.['required']) {
        <ion-text color="danger">Full name is required</ion-text>
        }
      </div>
      }

      <ion-item>
        <ion-input formControlName="email" placeholder="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      @if (regForm.controls['email'].touched &&
      regForm.controls['email'].invalid) {
      <div class="form-error">
        @if (errorControl['email']?.errors?.['required']) {
        <ion-text color="danger">Email is required</ion-text>
        } @if (errorControl['email']?.errors?.['pattern']) {
        <ion-text color="danger">it`s not correct email format</ion-text>
        }
      </div>
      }

      <ion-item>
        <ion-input
          formControlName="password"
          placeholder="password"
        ></ion-input>
        <ion-icon name="lock-closed-outline"></ion-icon>
      </ion-item>
      @if (regForm.controls['password'].touched &&
      regForm.controls['password'].invalid) {
      <div class="form-error">
        @if (errorControl['password']?.errors?.['required']) {
        <ion-text color="danger">Email is required</ion-text>
        } @if (errorControl['password']?.errors?.['pattern']) {
        <ion-text color="danger"
          >Password should be at least 8 digits and contain: <br />
          - Lowercase letter<br />
          - Uppercase letter<br />
          - Special symbol<br />
          - Number
        </ion-text>
        }
      </div>
      }

      <div class="center">
        <p>Already a member? <i [routerLink]="['/auth']">Sign in</i></p>
      </div>
    </div>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="signUp()" [disabled]="!regForm.valid">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </form>
</ion-content>
