<ion-content [fullscreen]="true">
  <div class="header ion-padding">
    <h2>Enter your email</h2>
    <p class="subTitle">to receive reset password link</p>
    <form [formGroup]="regForm" novalidate>
      <ion-item>
        <ion-input formControlName="email" placeholder="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      @if (regForm.controls['email'].touched &&
      regForm.controls['email'].invalid) {
      <div class="form-error">
        @if (errorControl['email']?.errors?.['required']) {
        <ion-text color="danger">Email is required</ion-text>
        } @if (errorControl['email']?.errors?.['pattern']) {
        <ion-text color="danger">it`s not correct email format</ion-text>
        }
      </div>
      }
    </form>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="resetPassword()">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>
