<ion-content [fullscreen]="true">
  <div class="content">
  <div class="header ion-padding">
    <h2>Введіть ваш email</h2>
    <p class="subTitle">Щоб отримати посилання для скидання пароля</p>
    <form [formGroup]="regForm" novalidate>
      <ion-item>
        <ion-input formControlName="email" placeholder="email"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
      </ion-item>
      @if (regForm.controls['email'].touched &&
      regForm.controls['email'].invalid) {
      <div class="form-error">
        @if (errorControl['email']?.errors?.['required']) {
        <ion-text color="danger">Email обов'язковий</ion-text>
        } @if (errorControl['email']?.errors?.['pattern']) {
        <ion-text color="danger">Некоректний email</ion-text>
        }
      </div>
      }
    </form>
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="resetPassword()" [disabled]="!regForm.valid">
        <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</div>
</ion-content>
