<ion-tabs>
  <router-outlet></router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']" routerDirection="root">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Головна</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" [routerLink]="['/tabs/events']" routerDirection="root">
      <ion-icon name="compass-outline"></ion-icon>
      <ion-label>Огляд</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" [routerLink]="['/tabs/create']" routerDirection="root">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Створити</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tickets" [routerLink]="['/tabs/tickets']" routerDirection="root">
      <ion-icon name="ticket-outline"></ion-icon>
      <ion-label>Квитки</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" [routerLink]="['/tabs/profile']" routerDirection="root">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Профіль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

