<ion-header>
  <ion-toolbar>
    <ion-title>Events</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of items" class="ion-margin" (click)="openEvent(item)">
      <img [src]="item.image" [alt]="item.title" />
      <ion-card-header>
        <ion-card-title>{{ item.title }}</ion-card-title>
        <ion-card-subtitle>
          <ion-chip color="primary" outline="true">{{ item.city }}</ion-chip>
          <ion-note class="ion-padding-start">{{ item.date }}</ion-note>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>
</ion-content>


